SUPABASE_URL=https://tihxnbwgsoepnqdaotzk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpaHhuYndnc29lcG5xZGFvdHprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMTA5NTcsImV4cCI6MjEwNDg4Njk1N30.fMJaRF91D-QE2tDJZYa3Ru7uevFEu4ih9DNT3ykpMAI
GROQ_API_KEY=
